<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" type="text/css" href="css/jquery.fileupload-ui.css" />-->
    <!--<link rel="stylesheet" type="text/css" href="css/main.css" />-->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-responsive.min.css" />

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <meta charset="UTF-8">
    <title>Questionaire</title>
</head>
<body>
<div id="qContainer" style="margin: 100px auto; position: relative; width: 480px;">
    <div id="qForm" style="position: relative; margin: 0 auto; width: 480px; border: 1px solid #DFDFDF; background-color: #FEFEFE; border-radius: 10px; box-shadow: 0 2px 4px #DDD;">

    </div>
</div>

<script type="text/template" id="questionTemplate">
    <div class="modal hide fade" style="z-index: 9999; width: 940px; margin-left: -470px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <h3 id="questionText"><%= question %></h3>
        </div>
        <div class="modal-body">
           <%if question_type == 0 { %>
            <ul id="ans">
            <% _.each(multi_ans, function(ans) {%>
                <li><input type="checkbox" class="checkbox"> <% ans %> </li>
                <% } %>
            </ul>
            <% } else { %>
                <textarea id="ans"></textarea>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md">
                    <button class="btn btn-danger" id="back-btn aria-hidden="true">back</button>
                </div>
                <div class="col-md"></div>
                <div class="col-md">
                    <button class="btn btn-info" id="next-btn" aria-hidden="true">next</button>
                </div>
            </div>
        </div>
    </div>
</script>

</body>
</html>